<template>
   <figure class="quiz" :class="{'quiz--loading': loading, 'quiz--appeared': !loading}">
      <!--<h4>Здесь находится опрос. Но он пока не работает в приложении.</h4>-->
      <h3 class="quiz__title">{{ data.text }}</h3>

      <template v-if="!loading">

         <template v-for="(item, key) in data.items">
            <poll-item @handle="onVote" :is-winner="isWinner(key)" :total="data.total" :voted="voted" :item="item" :id="key"></poll-item>
         </template>

         <div @click.prevent="reVote" class="quiz__revote-button" :style="{display: voted ? 'block' : 'none'}">
            <div class="quiz__revote-button-marker">Переголосовать</div>
            <svg class="icon icon--quiz-revote" width="15" height="15" xmlns="http://www.w3.org/2000/svg">
               <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#quiz-revote">
                  <svg id="quiz-revote" viewBox="0 0 15 16" width="100%" height="100%">
                     <path d="M.73 8c.02-.28.25-.47.52-.45.26.03.45.26.43.52-.28 3.2 2.1 6.06 5.32 6.34 3.22.3 6.06-2.1 6.34-5.3.28-3.23-2.1-6.07-5.34-6.35 0 0-1-.13-2 .08l1.04.53c.23.12.32.4.2.64s-.4.33-.64.2L4.57 3.18l-.04-.02H4.5V3.1l-.06-.05-.04-.05-.03-.05-.03-.06v-.04c-.02-.02-.02-.05-.02-.07v-.04-.03-.02-.04-.05c.02 0 .03-.03.04-.05 0-.02.02-.04.03-.05v-.02L5.83.44c.15-.2.45-.26.67-.1.2.14.26.44.1.65l-.6.86c1.08-.2 2.06-.07 2.1-.06 3.74.33 6.52 3.63 6.2 7.37-.34 3.74-3.64 6.52-7.38 6.2C3.18 15.02.4 11.7.72 7.98z"
                           fill-rule="nonzero" fill="#1D1D1B" opacity=".35">
                     </path>
                  </svg>
               </use>
            </svg>
         </div>
      </template>

      <template v-else>
         <div class="quiz__loader" style="display: block">
         <span class="ui_preloader">
            <span class="ui_preloader__dot"></span>
            <span class="ui_preloader__dot"></span>
            <span class="ui_preloader__dot"></span> </span>
         </div>
      </template>
   </figure>
</template>

<script>
    import { PollService } from '../../../../native/pollService';
    import pollItem from './item';
    // import axios from 'axios';

    export default {

        components: {
            pollItem,
        },

        props: {
            passed: {
                type: Object,
                required: true,
            },
            postId: {
                required: true,
            },
        },

        data() {
            return {
                data: {
                    wasLoaded: false,
                },
            };
        },

        computed: {

            voted() {
                return this.data.voted;
            },

            loading() {
                return !this.data.wasLoaded;
            },

        },

        methods: {

            reVote() {
                this.incrementVotedItem( false );
                this.data.voted = false;
            },

            incrementVotedItem( plus = false ) {
                let item = this.data.items[ this.data.voted ];

                if ( plus ) {
                    item.count++;
                } else {
                    item.count--;
                }
            },

            /**
             * Получаем текущего победителя,
             * или победителей голосования.
             *
             * @param key
             * @return {boolean}
             */
            isWinner( key ) {
                let items  = this.data.items,
                    counts = Object.keys( items ).map( key => items[ key ].count );

                return Math.max( ...counts ) === items[ key ].count;
            },

            onVote( pollVoteHash ) {

                this.data.voted = pollVoteHash;
                this.incrementVotedItem( true );
                // this.$store.dispatch( 'polls/VOTE', {
                //     post_id: this.postId,
                //     poll_hash: this.data.hash,
                //     poll_vote_hash: pollVoteHash,
                // } ).then( () => {
                //     this.data.voted = pollVoteHash;
                //     this.incrementVotedItem( true );
                // } );
            },

        },

        created() {
            this.data = {...this.data, ...this.passed};

            PollService.poll( this.data );
        },

    };
</script>