<template>
   <div class="quiz__items">
      <div class="quiz__items-option item-a16ac3d4c">
         <div class="quiz__items-checkbox" v-if="!voted">
               <span class="ui-radio-button">
                  <input :id="id" type="radio" name="b278678853b6bf49" value="a16ac3d4c">
               </span>
         </div>
         <div class="quiz__items-name" :class="{'quiz__items-name--results': voted, 'quiz__items--winner': isWinner && voted}"
              :data-percentage="percentage"
              :data-count="item.count">
            <label :for="id" @click.stop="vote">
               <span class="quiz__items-name-lettering">
                  {{ item.name }}
               </span>

               <template v-if="voted === id">
                  <i class="quiz__items-name-tick" style="display: inline-block">
                     <svg class="icon icon--quiz-tick" width="10" height="10" xmlns="http://www.w3.org/2000/svg">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#quiz-tick">
                           <svg id="quiz-tick" viewBox="0 0 8 6" width="100%" height="100%">
                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                 <g transform="translate(-225.000000, -346.000000)" fill-rule="nonzero" fill="#000000">
                                    <g transform="translate(40.000000, 339.000000)">
                                       <path d="M185.221665,10.9284419 C184.926199,10.6337018 184.926199,10.155202 185.221143,9.86098377 C185.515883,9.56551772 185.994383,9.56551772 186.28883,9.86069024 L187.506056,11.077544 L191.372917,7.21026887 C191.654025,6.92991038 192.108729,6.92991038 192.389087,7.21026887 C192.670591,7.49102202 192.670591,7.94681927 192.389381,8.22727892 L187.960478,12.656619 C187.67956,12.9367863 187.224638,12.9367863 186.943731,12.6566294 C186.938038,12.6480847 186.932738,12.64013 186.927803,12.6327096 C186.92621,12.6317159 186.357498,12.0636267 185.221665,10.9284419 Z"></path>
                                    </g>
                                 </g>
                              </g>
                           </svg>
                        </use>
                     </svg>
                  </i>
               </template>

            </label>
            <div class="quiz__items-progress">
               <div class="quiz__items-progress-bar" :style="{width: percentage}"></div>
            </div>
         </div>
      </div>
   </div>
</template>

<script>
    export default {

        props: {
            total: {
                type: Number,
            },
            item: {
                required: true,
            },
            id: {
                required: true,
            },
            voted: {},
            isWinner: {},
        },

        computed: {
            percentage() {
                if ( !this.total || this.total === 1 )
                    return (this.isWinner ? 100 : 0) + '%';

                return (((this.item.count / 100 * 1000) / this.total * 10).toFixed( 1 )) + '%';
            },
        },

        methods: {

            vote() {
                if ( this.voted )
                    return;

                this.$emit( 'handle', this.id );
            },

        },

    };
</script>