<template>
   <span class="hover">
      <svg class="icon icon--vote_entry_minus" :class="{'icon--ui_arrow_down': !up}" :style="arrowStyle" width="13"
           height="7"
           xmlns="http://www.w3.org/2000/svg">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ui_arrow_down">
         <svg id="ui_arrow_down" viewBox="0 0 13 7" width="100%" height="100%">
            <path fill-rule="evenodd"
                  d="M5.85617648,6.74703262 L0.266576001,1.46786504 C-0.0888586669,1.13202904 -0.0888586669,0.586840712 0.266576001,0.251877006 C0.622010668,-0.0839590018 1.19878837,-0.0839590018 1.55422304,0.251877006 L6.5,4.92217826 L11.445777,0.251877006 C11.8012116,-0.0839590018 12.3779893,-0.0839590018 12.733424,0.251877006 C13.0888587,0.587713013 13.0888587,1.13290134 12.733424,1.46786504 L7.14290508,6.74703262 C6.96564697,6.91538677 6.73236427,7 6.5,7 C6.26763573,7 6.03435303,6.91451447 5.85709492,6.74703262 L5.85617648,6.74703262 Z"></path>
         </svg>
      </use>
   </svg>
   </span>
</template>

<style>
   .hover:hover {
      cursor: pointer;
   }
</style>

<script>
    export default {

        props: {
            up: {
                type: Boolean,
                default() {
                    return false;
                },
            },
            inline: {
                required: false,
            },
            rotate: {},
        },

        computed: {
            arrowStyle() {
                let rotate = this.rotate || this.up ? 0 : 180,
                    style  = {
                        display: {
                            'inline-block': this.inline,
                        },
                    };

                style.transform = `rotate(${rotate}deg)`;

                return style;
            },
        },

    };
</script>