<template>
   <svg class="icon icon--ui_etc" width="18" height="8"
        xmlns="http://www.w3.org/2000/svg">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ui_etc">
         <svg id="ui_etc" viewBox="0 0 18 4" width="100%" height="100%">
            <g fill-rule="evenodd">
               <circle cx="2" cy="2" r="2"></circle>
               <circle cx="9" cy="2" r="2"></circle>
               <circle cx="16" cy="2" r="2"></circle>
            </g>
         </svg>
      </use>
   </svg>
</template>