<template>
   <svg class="icon icon--entry_views" width="16" height="18" xmlns="http://www.w3.org/2000/svg">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#entry_views">
         <svg id="entry_views" viewBox="0 0 20 20" width="100%" height="100%">
            <path d="M19.762 10.408c.186-.255.178-.602-.02-.85-2.993-3.68-6.225-5.547-9.61-5.547C4.392 4.01.404 9.36.24 9.588c-.187.254-.18.602.02.85 2.988 3.684 6.22 5.55 9.605 5.55 5.74 0 9.727-5.35 9.897-5.58zm-9.897 4.194c-2.82 0-5.567-1.552-8.177-4.606 1.022-1.208 4.27-4.598 8.443-4.598 2.82 0 5.568 1.552 8.177 4.606-1.02 1.21-4.27 4.598-8.442 4.598z"></path>
            <path d="M9.998 6.48c-1.94 0-3.52 1.58-3.52 3.52s1.58 3.52 3.52 3.52 3.52-1.58 3.52-3.52-1.58-3.52-3.52-3.52zm0 5.654c-1.175 0-2.133-.958-2.133-2.134s.958-2.134 2.133-2.134c1.176 0 2.133.958 2.133 2.134s-.956 2.134-2.132 2.134z"></path>
         </svg>
      </use>
   </svg>
</template>