<template>
   <svg class="icon icon--comments_reply_to" width="14" height="14" xmlns="http://www.w3.org/2000/svg">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#comments_reply_to">
         <svg id="comments_reply_to" viewBox="0 0 20 20" width="100%" height="100%">
            <path d="M19 16.685S16.775 6.953 8 6.953V2.97L1 9.54l7 6.69v-4.357c4.763 0 8.516.42 11 4.81z"></path>
         </svg>
      </use>
   </svg>
</template>