<template>
   <svg class="icon icon--signin" width="20" height="20" xmlns="http://www.w3.org/2000/svg">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#signin">
         <svg id="signin" viewBox="0 0 20 20" width="100%" height="100%">
            <path d="M0.25,10 C0.25,4.62 4.61,0.25 10,0.25 C15.38,0.25 19.75,4.62 19.75,10 C19.75,15.38 15.38,19.75 10,19.75 C7.71,19.75 5.61,18.96 3.95,17.64 C3.95,17.64 3.95,17.64 3.95,17.64 C3.5,17.29 3.09,16.89 2.71,16.47 C2.71,16.47 2.71,16.47 2.71,16.47 C1.18,14.75 0.25,12.48 0.25,10 Z M10,18.25 C12.14,18.25 14.1,17.43 15.56,16.09 C14.51,13.56 12.36,11.75 10,11.75 C7.64,11.75 5.49,13.56 4.44,16.09 C5.9,17.43 7.86,18.25 10,18.25 Z M12.25,8 C12.25,6.76 11.24,5.75 10,5.75 C8.76,5.75 7.75,6.76 7.75,8 C7.75,9.24 8.76,10.25 10,10.25 C11.24,10.25 12.25,9.24 12.25,8 Z M7.48,10.78 C6.73,10.09 6.25,9.1 6.25,8 C6.25,5.93 7.93,4.25 10,4.25 C12.07,4.25 13.75,5.93 13.75,8 C13.75,9.1 13.27,10.09 12.52,10.78 C14.26,11.53 15.72,13.01 16.66,14.87 C17.66,13.5 18.25,11.82 18.25,10 C18.25,5.44 14.56,1.75 10,1.75 C5.44,1.75 1.75,5.44 1.75,10 C1.75,11.82 2.34,13.51 3.34,14.87 C4.28,13.01 5.74,11.53 7.48,10.78 Z"></path>
         </svg>
      </use>
   </svg>
</template>