<template>
   <p class="text-muted" href="" style="font-size: 16px;">
      <a href="#" @click.prevent="action(1)" :class="{voted: ratedAs(1)}">
         <i class="icon-arrow-up"></i>
      </a>
      {{ answer.rating }}
      <a href="#" @click.prevent="action(-1)" :class="{voted: ratedAs(-1)}">
         <i class="icon-arrow-down"></i>
      </a>
   </p>
</template>

<style scoped>
   .voted {
      color: blue;
   }
</style>

<script>
    import axios from 'axios';

    export default {

        props: [ 'passed' ],

        data() {
            return {
                answer: {},
                inProcess: false, // like or dislike was clicked.
            };
        },

        methods: {

            ratedAs( ratedAs ) {
                return this.answer.rated_as === ratedAs;
            },

            action( sign ) {

                if ( !this.isAuth )
                    return this.actionRestrict();

                if ( this.inProcess )
                    return;

                this.inProcess = true;

                if ( this.ratedAs( sign ) )
                    sign = undefined;

                axios.post( `/answers/${this.answer.id}/rating`, {
                    sign,
                } ).then( ( {data} ) => {
                    this.inProcess       = false;
                    this.answer.rating   = data;
                    this.answer.rated_as = sign;
                } );
            },
        },

        created() {
            this.answer = this.passed; // for reactivity.
        },

    };
</script>