<template>
   <div class="vote vote--content vote--sum-positive" air-re-render="v-like-btn" :air-params="getParameters">
      <div @click.prevent="handle(false)" class="vote__button vote__button--minus l-float-left">
         <svg class="icon icon--vote_entry_minus" width="18" height="16"
              xmlns="http://www.w3.org/2000/svg">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#vote_entry_minus"></use>
         </svg>
      </div>
      <div class="vote__value l-float-left t-ff-1-500 t-fs-15">
         <span class="vote__value__v vote__value__v--real">
            {{ entity.rating }}
         </span>
      </div>
      <div @click.prevent="handle(true)" class="vote__button vote__button--plus l-float-left">
         <svg class="icon icon--vote_entry_plus" width="18" height="16"
              xmlns="http://www.w3.org/2000/svg">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#vote_entry_plus"></use>
         </svg>
      </div>
   </div>
</template>

<script>
    export default {

        props: [ 'model', 'type' ],

        computed: {

            getParameters() {
                return JSON.stringify( {
                    type: this.type,
                    model: this.entity,
                } );
            },

        },

        data() {
            return {
                entity: {},
            };
        },

        methods: {

            handle( bool ) {
                this.entity.rating = Math.random();
            },

        },

        created() {
            this.$set( this, 'entity', this.model );
        },

    };
</script>