<template>
   <div @click.prevent="fetch" v-if="canLoadMore" class="feed__load_more" id="feed_load_more">
      {{ paginator }}
      <template v-if="loading">
         Загружаю...
      </template>

      <template v-else>
         Загрузить еще
      </template>
   </div>
</template>

<script>
    import axios from 'axios';
    import { appendHtml } from '../../ajaxify';

    export default {

        props: {
            passed: {
                type: Object,
                required: true,
            },
        },

        data() {
            return {
                paginator: {
                    last_page: 0,
                    current_page: 0,
                    next_page_url: '',
                },
                loading: false,
            };
        },

        computed: {

            canLoadMore() {

                if ( this.loading )
                    return true;

                return this.paginator.last_page > this.paginator.current_page;
            },

        },

        methods: {

            fetch() {
                if ( this.loading )
                    return;

                this.loading = true;
                this.paginator.current_page++;
                axios.get( this.paginator.next_page_url ).then( ( {data} ) => {
                    appendHtml( document.getElementById( 'feed_container' ), data );
                } );
            },

        },

        created() {
            this.paginator = this.passed;
        },

    };

</script>