<template>
   <div class="subsite__island__subscribe l-mt-18" :class="className">
      {{ model.id }}
      <div class="subsite__island__subscribe__button--1 ui_button ui_button--13">
         <svg class="icon icon--ui_plus" width="12" height="12" xmlns="http://www.w3.org/2000/svg">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ui_plus"></use>
         </svg>
         <span>Подписаться</span>
      </div>

      <template v-show="subscribed">
         <div class="subsite__island__subscribe__button--2 ui_button ui_button--13">
            <svg class="icon icon--ui_check" width="14" height="11" xmlns="http://www.w3.org/2000/svg">
               <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ui_check"></use>
            </svg>
            <span>Подписан</span>
         </div>

         <div class="subsite__island__subscribe__button--3 ui_button ui_button--13">
            <svg class="icon icon--ui_close" width="12" height="12" xmlns="http://www.w3.org/2000/svg">
               <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ui_close"></use>
            </svg>
            <span>Отписаться</span>
         </div>
      </template>

   </div>
</template>

<script>
    export default {

        data() {
            return {
                model: {id: 1},
            };
        },

        props: {
            passed: {
                type: Object,
                required: true,
            },
        },

        computed: {

            className() {
                return {
                    'subsite__island__subscribe--subscribed': this.model.id === 1,
                };
            },

        },

        created() {
            this.model = this.passed;
        },

    };
</script>