<template>
   <button @click.prevent="toggle" class="btn btn-success">
      {{ followText }}
      ({{ model.followers_count }})
   </button>
</template>

<script>
    import axios from 'axios';

    export default {

        props: [ 'passed', 'type' ],

        data() {
            return {
                model: {},
                inProcess: false,
            };
        },

        computed: {

            followText() {
                if ( this.model.im_followed ) {
                    return window.app.messages[ this.type ].unfollow;
                }
                return window.app.messages[ this.type ].follow;
            },

        },

        methods: {

            toggle() {
                console.log( 'Was clicked..' );
                if ( !this.isAuth )
                    return this.actionRestrict();

                if ( this.inProcess )
                    return;

                this.inProcess = true;

                axios.post( `/${this.type}/${this.model.id}/follow` )
                     .then( () => {
                         this.inProcess         = false;
                         this.model.followers_count += this.model.im_followed ? -1 : +1;
                         this.model.im_followed = !this.model.im_followed;
                     } );
            },

        },

        created() {
            console.log( 'Follwo btn was created.' );
            this.model = this.passed;
        },

    };
</script>