<template>
   <a href="#" @click.prevent="likeOrUnlike" :class="linkClassName">
      <template v-if="short">
         <i class="fa fa-heart-o" :class="className"></i> {{ question.likes_count }}
      </template>

      <template v-else>
         <span class="glyphicon glyphicon-heart" :class="className"></span>
         {{ question.likes_count }}
      </template>
   </a>
</template>

<script>
    import axios from 'axios';

    export default {

        props: [ 'passed', 'short' ],

        data() {
            return {
                question: {},
                inProcess: false, // like or dislike was clicked.
            };
        },

        computed: {

            className() {
                return {liked: this.question.is_liked};
            },

            linkClassName() {
                return !this.short ? 'btn btn-default' : 'm-r-sm text-black';
            },

        },

        methods: {

            likeOrUnlike() {

                if ( !this.isAuth )
                    return this.actionRestrict();

                if ( this.inProcess )
                    return;

                this.inProcess = true;

                axios.post( `/questions/${this.question.id}/like` ).then( () => {
                    this.inProcess         = false;
                    this.question.likes_count += this.question.is_liked ? -1 : +1;
                    this.question.is_liked = !this.question.is_liked;
                } );
            },
        },

        created() {
            this.question = this.passed; // for reactivity.
        },

    };
</script>